In [2]:
from census import Census
from us import states
import pandas as pd
import censusdata
import regex as re

In [3]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B01003'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B01003_001E  | TOTAL POPULATION               | !! Estimate Total                                        | int
-------------------------------------------------------------------------------------------------------------------

In [47]:
censusdata.geographies(censusdata.censusgeo([('state', '17'), ('county', '*'),('county', '*')]), 'acs5', 2015)

censusgeo((('state', '06'), ('place', '*')))

In [4]:
y = list({
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020})

In [5]:
l = []
for i in y:
    df = censusdata.download('acs5', i,
                             censusdata.censusgeo([('state', '42'), ('county', '101'), ('tract', '*')]),
                             ['B01003_001E'])
    df.reset_index(inplace=True)
    df.rename({'index':'tr'},inplace=True,axis=1)
    df['tr'] = df['tr'].astype('string')
    df['tr'] = df['tr'].apply(lambda x: [i for i in x.split() if not re.match('[A-Za-z\W]', i)][0]).replace(',','', regex=True)
    df.rename({'B01003_001E':'population'},axis=1,inplace=True)
    df['yr'] = i 
    l.append(df)
philly = pd.concat(l,ignore_index=True)

In [8]:
philly[philly.population==0]

        tr  population    yr
192     50           0  2016
213   9803           0  2016
214   9804           0  2016
215   9805           0  2016
270   9806           0  2016
...    ...         ...   ...
4497  9805           0  2015
4498  9806           0  2015
4499  9807           0  2015
4500  9808           0  2015
4607    50           0  2015

[103 rows x 3 columns]

In [205]:
philly.to_csv('../output/pop.csv',index=False)